{% extends 'main/base.html' %}

{% block content %}

<div class="row">
  <div class="col-xl-10">
    <div class="content-column-content">
      <h1>Curriculum Vitae</h1>
      <p class="lead">
        I am currently employed at the Institute of Physiology of the Faculty of Medicine and at the Faculty of Natural Sciences and Mathematics 
        at the University of Maribor, Slovenia (2018 - ongoing). 
      </p>
      <h5>List of employments</h5>
      <ol>
        <li>Institute of Physiology, Faculty of Medicine, University of Maribor (2018 - ongoing)</li>
        <li>Faculty of Natural Sciences and Mathematics, University of Maribor (2021 - ongoing)</li>
        <li>Faculty of Education, University of Maribor (2018 - 2020)</li>
      </ol>
      <h3>Research</h3>
      <p>
        As part of my research activities, I publish original research articles in international scientific journals.
        A few selected articles are listed below. For a more detailed list of my publications and 
        status please check out my researcher profile
        at <a href="https://cris.cobiss.net/ecris/si/sl/researcher/48860" target="_blank">SICRIS - Slovenian Current Research Information System</a>.
      </p>
      <ul>
        <li>
          <strong>M. Šterk</strong>, J. Dolenšek, L. K. Bombek, R. Markovič, D. Zakelšek, M. Perc, V. Pohorec, A. Stožer and M. Gosak, 2021. 
          <i>Assessing the origin and velocity of Ca2+ waves in three-dimensional tissue: 
          Insights from mathematical model and confocal imaging in mouse pancreas tissue slices.</i>
          Communications in Nonlinear Science and Numerical Simulation 93, 105495.
        </li>
        <br>
        <li>
          <strong>M. Šterk</strong>, L. Križančić Bombek, M. Skelin Klemen, M. Slak Rupnik, M. Marhl, A. Stožer, M. Gosak, 2021. 
          <i>NMDA receptor inhibition increases, synchronizes, and stabilizes the collective pancreatic beta cell activity: 
            Insight through multilayer network analysis.</i> 
          PLoS Computational Biology 17(5):e1009002.
        </li>
        <br>
        <li>
          R. Markovič, <strong>M. Šterk</strong>, M. Marhl, M. Perc, M. Gosak, 2021. 
          <i>Socio-demographic and health factors drive the epidemic progression and should guide vaccination strategies for best COVID-19 containment. </i>
          Results in Physics 26:104433.
        </li>
        <br>
        <li>
          <strong>M. Šterk</strong>, R. Markovič, M. Marhl, A. Fajmut and A. Dobovišek, 2021. 
          <i>Flexibility of enzymatic transitions as hallmark of optimized enzyme steady-state kinetics and thermodynamics.</i> 
          Computational Biology and Chemistry, 107449.
        </li>
      </ul>
      <h3>Web development</h3>
      <p>
        My main skills are in back-end web development, but because I like to tinker with new things I usually find myself doing both
        front-end and back-end development. I especially like to develop fast and scalable APIs, and content management systems which
        are easy to use and offer plenty of functionality. You can find some of my work on my
        <a href="https://github.com/MarkoSterk" target="_blank"><i alt="github" class="fa fa-github"></i> account</a> which I am currently in the process of
        updating. 
        One example of my work is of course this website which I have made completely from scratch using Python/Flask as the back-end. Another project of mine is 
        the website of the Institute of Physiology, for which I have crafted the entire back-end (with a fully functioning content management system)
        as well as the front-end.  
      </p>
      <h5>Some of my work</h5>
      <ul>
        <li><a target="_blank" href="https://www.physio-mb.si">Institute of Physiology, www.physio-mb.si</a></li>
        <li><a target="_blank" href="https://www.lucijadezan.com">Lucija Dežan, www.lucijadezan.com</a></li>
        <li><a target="_blank" href="https://www.markosterk.com">My personal website, www.markosterk.com</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}